<div class="wrapper">
  <div class="devise_page devise_page flex-display column sign-up-page bg-pane">

    <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>

      <h1 class="sign-up-title">Resend confirmation instructions</h1>

      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="field">
        <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder:'Email', class:'form-field', value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email) %>
      </div>

      <div class="btn">
        <%= f.submit "Resend confirmation instructions",  class:'sign-up-btn' %>
      </div>
    <% end %>

    <%= render "devise/shared/links" %>
  </div>
</div>
