<div class="wrapper">
  <div class="devise_page flex-display column sign-up-page bg-pane">
    <%= form_for(resource, as: resource_name, class:'login_form', url: session_path(resource_name)) do |f| %>

      <h1 class="sign-in-title">Log in</h1>

      <div class="field">
        <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder:'Email', class:'form-field'%>
      </div>

      <div class="field">
        <%= f.password_field :password, autocomplete: "current-password", placeholder:'Password', class:'form-field' %>
      </div>

      <% if devise_mapping.rememberable? %>
        <div class="field">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
        </div>
      <% end %>

      <div class="btn login-tweaks">
        <%= f.submit "Log in", class:'login-btn' %>
      </div>

      <div class="shared-links">
        <%= render "devise/shared/links" %>
      </div>

    <% end %>
  </div>
</div>