<div id="<%= dom_id category %>">
  <p>
    <strong>Name:</strong>
    <%= category.name %>
  </p>

  <p>
    <strong>Icon:</strong>
    <%= category.icon %>
  </p>

  <p>
    <strong>Author:</strong>
    <%= category.author_id %>
  </p>

  <p>
    <strong>Users:</strong>
    <%= category.users %>
  </p>

</div>
