<div class="wrapper">
  <%= render 'nav' %>
  <p style="color: green"><%= notice %></p>
  <%= render @category %>
  <div class="controls">
    <%= link_to "Edit this category", edit_category_path(@category), class:'options blue'%> <br />
    <%= link_to "Back to categories", categories_path, class:'options blue' %> <br />
    <%= button_to "Destroy this category", @category,  class:'options red', method: :delete %>
  </div>
</div>
