<%= form_with(model: [category, expense]) do |form| %>
  <% if expense.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(expense.errors.count, "error") %> prohibited this expense from being saved:</h2>
      
      <ul>
        <% expense.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="new_exp_panel">

    <div>
      <%= form.text_field :name,  placeholder: 'Name',  class:'cat_input' %>
    </div>

    <div>
      <%= form.text_field :amount,  placeholder:'Amount', class:'cat_input' %>
    </div>

    <div>
      <%= form.submit class:'form_submit' %>
    </div>
  </div>
<% end %>
