<div class="wrapper">
  <%= render 'categories/nav' %>

  <p style="color: green"><%= notice %></p>
  <h1 class="exp_title">Expenses</h1>
  <div id="expenses">
  <div class="">

  <%= render 'categories/category', category: @category %>

  <div class="table_container">
    <table class="table">
    <tr>
      <th>Item</th>
      <th>Amount</th>
      <th>Transaction date</th>
    </tr>
    <% @expenses.each do |expense| %>
      <tr>
      <%= render 'expense', expense: expense, category: @category %>
      </tr>
    <% end %> 
    </table>
  </div>

  <div  class="exp-btn-wrap">
    <%= button_to "Add new expense", new_category_expense_path(@category), method: :get, class:'btns'%>
  </div>
</div>
