<div class="wrapper">
  <%= render 'categories/nav' %>

  <p style="color: green"><%= notice %></p>
  <h1>Expenses</h1>
  <div id="expenses">
  <div class="">
    <%= @category.total_exp %>
  </div>
    <table>
    <tr>
      <th>Item</th>
      <th>Amount</th>
    </tr>
    <% @expenses.each do |expense| %>
      <tr>
      <%= render 'expense', expense: expense, category: @category %>
      </tr>
      <p>
        <%# <%= link_to "Show this expense", expense %>
      </p>
    <% end %> 
    </table>
  </div>
  <%# <%= link_to "New expense", new_expense_path %>
</div>
